@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee&family=Lato&display=swap');

header {
    background-color:#0d070a;
    font-family: "Mukta Mahee", Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}
.background{
    width: 100%;
    height: 100%;
    z-index:0;
    grid-column: 1/5;
    grid-row: 1/6;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #337cfc;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #56eacf;
    color: white;
}
.homegrid{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr 0.8fr;
    grid-template-areas: "a b b e"
                        "f b b g"
                        "i c j l"
                        "m c j p"
                        "q d d t";
    /* margin: 0 auto; */
    /* width: 100%;
    height: 100%; */
    background-image: url('/images/surfboards.jpg');
    background-color: #cccccc;
}
#homebanner{
grid-area: b;
    z-index: 1;
    background-color: white;
    position:relative;
    font-family: "Mukta Mahee", Helvetica, sans-serif;
    
}
#homebanner-img{
    width: 100%;
}
#homebanner-msg{
    position: absolute;
    top: 8px;
    right: 16px;
    padding: 150px 0;
    color:white;
}
.upcomingevent{
    grid-column: c/j;
    grid-row: c/j;
    z-index: 1;
    background-color: black;
    display:flex;
}
.upcomingeventtext{
    color: white;
    font-size: 20px;
    font-family: "Mukta Mahee", Helvetica, sans-serif;;
    text-align: center;
    padding: 10px;
    grid-area: j;
    flex:1;
    padding: 150px 0;
}
#upcomingeventimage{
    width: 50%;
    flex:1;
}
.checkgallery{
    grid-area: d;
    z-index: 1;
    position:relative;
    font-family: "Mukta Mahee", Helvetica, sans-serif;
}
#checkgalleryimage{
    width: 100%;
}
.block {
    transition-duration: 0.4s;
    border-radius: 12px;
    position: absolute;
    top: 45%;
    left: 85%;
    transform: translate(-25%, -50%);
  }
  
  .block:hover {
    background-color: #337cfc;
    color: white;
  }

  #gallerygrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 0.1fr;
    grid-template-areas: "a b b c"
                        "d e e f"
                        "g h h i"
                        "j k k l";
    background-color: #56eacf;
  }
#gallerybanner{
    grid-area: b;
    z-index: 1;
    background-color: white;
    position:relative;
    font-family: "Mukta Mahee", Helvetica, sans-serif;
}
#gallerybanner-img{
    width: 100%;
}
#gallerybanner-msg{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    color:white;
}
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 48%;
      max-width: 48%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
.gallery{
    z-index: 1;
    background-color: #56eacf;
    position:relative;
    font-family: "Mukta Mahee", Helvetica, sans-serif;
}
#gallery1{
    grid-area: e;
}
#gallery2{
    grid-area:h;
}
  .gallery h2{
    font-family: "Mukta Mahee", Helvetica, sans-serif;
    font-size: 30px;
    color: #0d070a;
    text-align: center;
    padding: 10px;
  }
#submit{
    background-color: #337cfc;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: "Mukta Mahee", Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    grid-area: k;
    z-index: 1;
}
footer{
    background-color: #0d070a;
    padding: 25px 50px;
    /* margin-top: 200px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Mukta Mahee", Helvetica, sans-serif;
}
footer h3{
    color: #337cfc;
}
footer a{
    color: #337cfc;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
footer .social img{
    padding-top: 15px;
}