.homegrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a b c" "d e f" "g h i";
    grid-gap: 10px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}